html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: normal;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {list-style-position: inside;}

body {
  background-color: navy;
}

#wrapper {
  margin:65px auto 0 auto;
  width: 85%;
  background-color:white;
  padding:20px 30px;
}

#add-amenities ul li, #listing-tags ul li {
  display:inline-block;
  margin: 2px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: blue;
}

#add-amenities ul li a, #listing-tags ul li a {
  color: white;
}


.listing-index {
  float: left;
  margin: 5px;
  width: 300px;
  height:300px;
}

.listing-info {
  margin: 10px;
  position: absolute;
  text-shadow: 1px 1px 1px white;
}

.listing-bg {
  max-width: 300px;
  max-height: 300px;
}

#calendar {
  width:750px;
}


.month-header {
  font-size:18px;
  font-weight:bold;
  margin: 10px 0;
}

.day-header {
  width: 100px;
  text-align: center;
  border:1px solid black;
  float: left;
  padding:5px 0;
  background-color: #ddd;
}

.day-box {
  width: 100px;
  height: 50px;
  padding:3px 6px;
  border:1px solid black;
  float:left;
}

.day-box .day-num {
  /*position: absolute;*/
  display:block;
  font-size: 11px;
  color: gray;
}

.day-box .booking {
  display:block;
  color: red;
  display:none;
}

.booked-day {
  background-color: #ccc;
}

.review-posting-time {
  position: absolute;
  bottom: 0;
  margin: -20px 0 0 0;
}

.star-rating {
  color: navy;
  float:right;
}
